/* @import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');



html {
  background: url("../images/tatras.jpg") center no-repeat;
  /* background-position: center; */
  background-size: cover;
  /* background-repeat: no-repeat; */
  min-height: 100vh;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 3.5em;
  /* font-family: 'Major Mono Display', monospace; */
  font-family: 'Cabin Sketch', cursive;
}

.container {
  display: flex;
  justify-content: center;
  /* border: 5px solid red; */
}

.list {
  /* background-color: rgba(243, 243, 243, 0.90); */
  /* border-radius: 10px; */
  /* outline: 10px solid rgba(37, 37, 37, 0.2); */
  background: rgba(250, 250, 250, 0.95);
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.15);
  margin: 10px;
  padding: 20px;
}

.items {
  margin: 0 0 20px 0;
  padding: 0;
  text-align: left;
  list-style: none;
}

.items li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  font-weight: 100;
}

.add-items input {
  padding: 10px;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.items input {
  display: none;
}

.items input + label:before {
  content: "⬜️";
  margin-right: 10px;
}

.items input:checked + label:before {
  content: "⛰️";
}

.height {
  font-size: 0.9em;
  color: rgb(87, 87, 87);
}
/* 
input[type='submit'] {
    background-color: rgb(115, 201, 136);
    border: none;
    padding: 5px 10px;
} */
